<div id='map_wrapper' class='container'>
  <div id="map"></div>

  <div id="popup" class="ol-popup bg-light p-3 text-dark">
    <a href="#" id="popup-closer" class="ol-popup-closer"></a>
    <div id="popup-content"></div>
  </div>
</div>